@import "mixins";

// variables config
$color-array: (
	blue: (
    #a1c3e5,
    #488cdf,
    #0000ff
  ),
  grey: (
    #cccccc,
    #aaaaaa,
    #666666
  )
);
$part-array: (
  bg: (
    color($color-array, blue, 2),
    color($color-array, blue, 1),
    color($color-array, grey, 1),
    white,
    black
  ),
  cta: (
    color($color-array, blue, 2),
    white,
    color($color-array, blue, 1),
    black
  )
);
$tt: 0.4s; // transition time;

// general
a { color: color($part-array, cta, 4); }
@for $i from 1 through 3 {
  .bg-color-#{$i} {
    background-color: color($part-array, bg, $i);
  }
}

// cta wrapper
.cta-block-wrapper {
  // cta block

  .cta-block {
    border-color: color($part-array, cta, 1);
    .cta-text {
      color: color($part-array, cta, 2);
      background-color: color($part-array, cta, 1);
    }

    &:hover {
      .cta-text {
        height: 100%;
      }
    }
  }

  // cta button
  .cta-button {
    display: inline-block;
    vertical-align: middle;
		font-size: 12px;
    transition: color $tt, border-color $tt, background-color $tt;

		@include mq(d) {
			font-size: 14px;
			margin: 2px 10px;
		}

    &.style-1 {
      color: #003f5f;
      border: 0;

      &:hover {
        color: white;

        span {
          background-color: #003f5f;
        }
      }

      span {
        display: block;
        border: 1px solid #003f5f;
        background-color: white;
      }

    }

    &.style-2,
    &.style-3 {
      color: white;
      border: 0;

      &:hover {
        color: #003f5f;

        span {
          background-color: white;
        }
      }

      span {
        display: block;
        border: 1px solid #003f5f;
        background-color: #003f5f;
      }

    }

    // &.style-3 {
    //   color: #003f5f;
    //   border: 0;

    //   &:hover {
    //     color: white;

    //     span {
    //       background-color: #003f5f;
    //     }
    //   }

    //   span {
    //     display: block;
    //     border: 2px solid #003f5f;
    //     background-color: color($part-array, bg, 4);
    //   }

    // }

    &.style-4 {
      color: white;
      border: 1px solid white;
      padding: 8px 20px;

      &:hover {
        color: black;
        background-color: white;
      }

      span {
        display: block;
        border: 2px solid #003f5f;
        background-color: color($part-array, bg, 4);
      }

    }
  }

  // cta price quotation
  .cta-pq {

    background-color: color($part-array, bg, 2);

    .cta-dropdown {

    }

    .cta-submit {
      color: color($part-array, cta, 2);
      border-color: color($part-array, cta, 1);
      background-color: color($part-array, cta, 1);
      transition: color $tt, border-color $tt, background-color $tt;

      &:hover {
        border-color: color($part-array, cta, 4);
        background-color: color($part-array, cta, 4);
      }
    }

  }

}
